body {
  font-family: "Assistant", sans-serif;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.app {
  text-align: center;
}

.header {
  background-color: #282c34;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.7)),
    url("hero.jpg");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(1.2em + 15vmin);
  font-weight: 200;
  color: white;
}
.description {
  padding: 8vh 8vw;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  font-weight: 200;
  color: white;
}
.description p {
  margin: 0.5em;
}
.credit {
  margin: 5vh 0;
  font-size: 1.25em;
}
.listContainer {
  font-size: calc(1.2em + 0.6vw);
  margin: 6vh 2vw 10vh;
}
.list-item {
  margin: 2vh 0;
}
.footer {
  background-color: #282c34;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 4vmin);
  font-weight: 200;
  color: white;
}
