body {
  font-family: "Assistant", sans-serif;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.app {
  text-align: center;
}

.header {
  background-color: #282c34;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.7)),
    url("hero.jpg");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(1.2em + 15vmin);
  font-weight: 200;
  color: white;
}
.description {
  padding: 8vh 8vw;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  font-weight: 200;
  color: white;
}
.description p {
  margin: 0.5em;
}
.credit {
  margin: 5vh 0;
  font-size: 1.25em;
}
.sort-container {
  direction: rtl;
  font-size: calc(10px + 1vmin);
  margin: 5vh 0 7vh;
}
.sort-title {
  margin-bottom: 1vh;
}
.sort-option {
  display: inline-flex;
  margin: 0 0.25em;
}
.button-sort {
  font-size: 1em;
  font-family: inherit;
  display: inline-block;
  border: none;
  border-radius: 3px;
  padding: 0.5em 0.75em;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  color: black;
  background-color: white;
  border: 1px solid #282c34;
}
.button-sort:hover {
  background-color: #282c34;
  color: white;
  transition: background-color 250ms, color 250ms;
}
.button-sort.active {
  color: white;
  background-color: #282c34;
}
.listContainer {
  font-size: calc(1.2em + 0.6vw);
  margin: 6vh 2vw 10vh;
}
.list-item {
  margin: 2vh 0 4vh;
}
.list-item .details {
  margin-top: 0.2em;
  font-size: calc(0.7em + 0.1vw);
}
.izkor-logo {
  width: 0.6em;
}
.izkor {
  font-size: 0.8em;
}
.footer-top {
  background-color: #282c34;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 4vmin);
  font-weight: 200;
  color: white;
  margin-bottom: 0;
}

.footer-bottom {
  direction: rtl;
  border-top: 1px solid white;
  background-color: #282c34;
  color: white;
  font-weight: 200;
  font-size: calc(10px + 1vmin);
}
.footer-bottom li {
  margin: 0 1em;
  padding: 1em 0;
  display: inline-flex;
}
.footer-link-svg {
  padding: 0 0.5em;
}
